---
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import Heading1 from "@/components/atoms/Heading1.astro";
import { COLORS } from "@/constants/color";
import { SITE_NAME } from "@/constants/index";
import Layout from "@/layouts/Layout.astro";
import { getProjects } from "@/utils/projects";
import type { GetStaticPaths } from "astro";

const pageName = "projects";
const capitalizePageName = pageName.charAt(0).toUpperCase() + pageName.slice(1);
const title = capitalizePageName;
const description = "ktym4a's projects";
const baseColor = COLORS.PEACH;

export const getStaticPaths = (async ({ paginate }) => {
	const colors = [...Object.values(COLORS)];

	return paginate(
		await getProjects().then((projects) =>
			projects
				.map((project, i) => {
					return {
						...project,
						baseColor: colors[i % colors.length] as (typeof colors)[number],
					};
				})
				.reverse(),
		),
		{ pageSize: 10 },
	);
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout
  activeName="projects"
  title={`${title}/${page.currentPage} - ${SITE_NAME}`}
  description={description}
  baseColor={baseColor}
>
  <section>
    <Heading1 baseColor={baseColor} text="Projects" id="Projects" />
  </section>
  <section id="Projects" class="h-full">
    <div class='grid grid-cols-[repeat(auto-fill,minmax(300px,_1fr))] gap-4'>
      {
        page.data.map((project) => (
          <Card
            text="Project"
            link={{
              href: project.data.link,
              target: "_blank",
            }}
            title={project.data.title}
            baseColor={project.baseColor}
          />
        ))
      }
    </div>
  </section>
  <section>
    <Pagination
      next={{
        url: page.url.next,
        baseColor
      }}
      prev={{
        url: page.url.prev,
        baseColor
      }}
    />
  </section>
</Layout>
