---
import { Image } from "astro:assets";
import Icon from "@/assets/images/about/icon.jpg";
import Heading1 from "@/components/atoms/Heading1.astro";
import Heading2 from "@/components/atoms/Heading2.astro";
import Tag from "@/components/atoms/Tag.astro";
import { COLORS } from "@/constants/color";
import { SITE_NAME } from "@/constants/index";
import Layout from "@/layouts/Layout.astro";
import type { MarkdownHeading } from "astro";

const pageName = "about";
const capitalizePageName = pageName.charAt(0).toUpperCase() + pageName.slice(1);
const title = `${capitalizePageName} - ${SITE_NAME}`;
const description = "ktym4a's about page";
const baseColor = COLORS.PINK;

const headings: MarkdownHeading[] = [
	{
		depth: 1,
		text: capitalizePageName,
		slug: capitalizePageName,
	},
	{
		depth: 2,
		text: "Profile",
		slug: "Profile",
	},
	{
		depth: 2,
		text: "Experience",
		slug: "Experience",
	},
	{
		depth: 2,
		text: "Interests",
		slug: "Interests",
	},
];
---

<Layout
    activeName={pageName}
    title={title}
    description={description}
    baseColor={baseColor}
    toc={{
        tagName: 'Internal',
        headings
    }}
>
    <section>
        <Heading1
            baseColor={baseColor}
            text={capitalizePageName}
            id={capitalizePageName}
        />
    </section>
    <section>
        <Tag text='Profile' className='gap-2'>
            <div class='flex flex-col gap-3 md:flex-row md:gap-4'>
                <div class='flex-shrink-0'>
                    <Image
                        src={Icon}
                        alt="ktym4a's icon"
                        class='h-20 w-20 rounded-full md:h-28 md:w-28 lg:h-32 lg:w-32'
                        title='ktym4a'
                        width={112}
                        height={112}
                        densities={[1.5, 2]}
                    />
                </div>
                <div>
                    <h2
                        id='Profile'
                        class='-mt-8 mb-0 text-pretty pt-8 font-mono text-lg font-bold md:mb-1 md:text-3xl'
                        >Hi, I'm <span class='text-ctp-green'>kt</span><span
                            class='text-ctp-pink'>ym</span
                        ><span class='text-ctp-blue'>4</span><span
                            class='text-ctp-peach'>a</span
                        >.
                    </h2>
                    <p
                        class='mb-4 text-pretty font-mono text-base md:mb-6 md:text-lg'
                    >
                        full-stack web developer</p
                    >
                    <p class='text-pretty font-mono md:text-lg'>
                        I work every day to <span
                            class={`font-mono-script font-bold italic ${baseColor.text}`}
                            >"Make the world better than it was yesterday"</span
                        >.<br />
                        <br />
                        I make a better web that is fast, easy to use, and beautiful.<br
                        />
                        I'm also always thinking and working on simplicity, fast,
                        and scale.</p
                    >
                </div>
            </div>
        </Tag>
    </section>
    <section>
        <Tag text='Likes' className='gap-2'>
            <div class='space-y-4'>
                <Heading2
                    baseColor={baseColor}
                    text='Likes'
                    id='Likes'
                />
                <ul class='list-outside list-disc space-y-1 text-pretty pl-6'>
                    <li>Animal - Cat/Dog</li>
                    <li>Color - Green</li>
                    <li>Moive - About Time</li>
                    <li>Music - Honey Come Bear</li>
                    <li>OSS - Astro</li>
                    <li>Pokemon - Bulbasaur</li>
                </ul>
            </div>
        </Tag>
    </section>
    <section>
        <Tag text='Experience' className='gap-2'>
            <div class='space-y-4'>
                <Heading2
                    baseColor={baseColor}
                    text='Experience'
                    id='Experience'
                />
                <ul class='list-outside list-disc space-y-1 text-pretty pl-6'>
                    <li>Front-end Web Development</li>
                    <li>Backend-end Web Development</li>
                    <li>Software Design and Architecture</li>
                    <li>Tech Lead</li>
                    <li>Product Management</li>
                    <li>Engineering Management</li>
                    <li>Team Building</li>
                    <li>HR for Engineers</li>
                    <li>Director</li>
                </ul>
            </div>
        </Tag>
    </section>
    <section>
        <Tag text='Interests' className='gap-2'>
            <div class='space-y-4'>
                <Heading2
                    baseColor={baseColor}
                    text='Interests'
                    id='Interests'
                />
                <ul class='list-outside list-disc space-y-1 text-pretty pl-6'>
                    <li>A11y</li>
                    <li>Architecture</li>
                    <li>Cloud Computing</li>
                    <li>DX(Developer Experience)</li>
                    <li>Edge Workers</li>
                    <li>Performance</li>
                    <li>Rust</li>
                    <li>Wasm</li>
                    <li>WebRTC</li>
                </ul>
            </div>
        </Tag>
    </section>
</Layout>
