---
import BlogCard from '@/components/BlogCard.astro'
import Heading1 from '@/components/atoms/Heading1.astro'
import { COLORS } from '@/constants/color'
import { BLOG_DESCRIPTION, SITE_NAME } from '@/constants/index'
import Layout from '@/layouts/Layout.astro'
import { getPosts } from '@/utils/blog'

const pageName = 'blog'
const capitalizePageName = pageName.charAt(0).toUpperCase() + pageName.slice(1)
const title = `${capitalizePageName} - ${SITE_NAME}`
const description = BLOG_DESCRIPTION
const baseColor = COLORS.MAUVE

const colors = [COLORS.GREEN, COLORS.PINK, COLORS.BLUE, COLORS.PEACH] as const

const allPosts = await getPosts().then((post) =>
    post
        .map((post, i) => {
            return {
                ...post,
                baseColor: colors[i % colors.length] as (typeof colors)[number]
            }
        })
        .reverse()
)
---

<Layout
    activeName='blog'
    title={title}
    description={description}
    baseColor={baseColor}
>
    <section>
        <Heading1 baseColor={baseColor} text='Blog' id='Blog' />
    </section>
    <section
        id='Articles'
        class='grid grid-cols-[repeat(auto-fill,minmax(200px,_1fr))] gap-4'
    >
        {allPosts.map((post) => <BlogCard post={post} />)}
    </section>
</Layout>
