---
import BlogCard from '@/components/BlogCard.astro'
import Heading1 from '@/components/atoms/Heading1.astro'
import { BLOG_DESCRIPTION, SITE_NAME } from '@/constants/index'
import Layout from '@/layouts/Layout.astro'
import { COLORS } from '@/types/index'
import { getPosts } from '@/utils/blog'

const colors = [COLORS.GREEN, COLORS.PINK, COLORS.BLUE, COLORS.PEACH] as const

const allPosts = await getPosts().then((post) =>
    post
        .map((post, i) => {
            return {
                ...post,
                baseColor: colors[i % colors.length] as (typeof colors)[number]
            }
        })
        .reverse()
)

const baseColor = COLORS.PEACH
---

<Layout
    activeName='blog'
    title={`Blog - ${SITE_NAME}`}
    description={BLOG_DESCRIPTION}
    baseColor={baseColor}
>
    <section>
        <Heading1 baseColor={baseColor} text='Blog' id='Blog' />
    </section>
    <section
        id='Articles'
        class='grid grid-cols-[repeat(auto-fill,minmax(200px,_1fr))] gap-4'
    >
        {allPosts.map((post) => <BlogCard post={post} />)}
    </section>
</Layout>
