---
import Thumbnail from '@/assets/images/blog/thumbnail.png'
import Heading1 from '@/components/atoms/Heading1.astro'
import Link from '@/components/atoms/Link.astro'
import Tag from '@/components/atoms/Tag.astro'
import Layout from '@/layouts/Layout.astro'
import { COLORS } from '@/types/index'
import { formatPostDate, getPosts } from '@/utils/blog'
import { Image } from 'astro:assets'

const colors = [COLORS.GREEN, COLORS.PINK, COLORS.BLUE, COLORS.PEACH] as const

const allPosts = await getPosts().then((post) =>
    post
        .map((post, i) => {
            return {
                ...post,
                baseColor: colors[i % colors.length] as (typeof colors)[number]
            }
        })
        .reverse()
)

const baseColor = COLORS.PEACH
---

<Layout
    activeName='blog'
    title='blog - ktym4a'
    description="ktym4a's blog page"
    baseColor={baseColor}
>
    <section>
        <Heading1 baseColor={baseColor} text='Blog' id='Blog' />
    </section>
    <section
        id='Articles'
        class='grid grid-cols-[repeat(auto-fill,minmax(200px,_1fr))] gap-4'
    >
        {
            allPosts.map((post) => {
                return (
                    <article class='relative'>
                        <Link
                            href={`/blog/${post.slug}/`}
                            colors={{
                                text: post.baseColor.text as string,
                                childHoverBackground: post.baseColor
                                    .childHoverBackground as string,
                                childFocusBackground: post.baseColor
                                    .childFocusBackground as string,
                                childHoverOutline: post.baseColor
                                    .childHoverOutline as string,
                                childFocusOutline: post.baseColor
                                    .childFocusOutline as string
                            }}
                            class={''}
                            title={post.data.title}
                        >
                            <Tag text='Article' className='gap-2'>
                                <div class='space-y-2'>
                                    <div>
                                        {post.data.image ? (
                                            <img
                                                src={post.data.image}
                                                alt={post.data.title}
                                                class='h-40 w-full object-cover'
                                            />
                                        ) : (
                                            <Image
                                                src={Thumbnail}
                                                alt={post.data.title}
                                                class='h-40 w-full object-cover'
                                                title={post.data.title}
                                                width={337}
                                                height={160}
                                                quality={100}
                                                densities={[1.5, 2]}
                                            />
                                        )}
                                    </div>
                                    <div class='space-y-1'>
                                        <p class='text-xs text-ctp-text md:text-sm'>
                                            {formatPostDate(
                                                post.data.publishedDate
                                            )}
                                        </p>
                                        <h2 class='text-base font-bold md:text-lg'>
                                            {post.data.title}
                                        </h2>
                                    </div>
                                </div>
                            </Tag>
                        </Link>
                    </article>
                )
            })
        }
    </section>
</Layout>
