---
import DiaryCard from "@/components/DiaryCard.astro";
import Heading1 from "@/components/atoms/Heading1.astro";
import { COLORS } from "@/constants/color";
import { DIARY_LEARNING_DESCRIPTION, SITE_NAME } from "@/constants/index";
import Layout from "@/layouts/Layout.astro";
import { getDiaries } from "@/utils/diary";

const pageName = "diaries";
const capitalizePageName = pageName.charAt(0).toUpperCase() + pageName.slice(1);
const title = `${capitalizePageName} - ${SITE_NAME}`;
const description = DIARY_LEARNING_DESCRIPTION;
const baseColor = COLORS.MAUVE;

const colors = [COLORS.PINK, COLORS.BLUE, COLORS.PEACH] as const;

const allDiaries = await getDiaries().then((diaries) =>
	diaries
		.map((diary, i) => {
			return {
				...diary,
				baseColor: colors[i % colors.length] as (typeof colors)[number],
			};
		})
		.reverse(),
);
---

<Layout
    activeName='diaries'
    title={title}
    description={description}
    baseColor={baseColor}
>
    <section>
        <Heading1 baseColor={baseColor} text='Diaries' id='Diaries' />
    </section>
    <section
        id='Articles'
        class='grid grid-cols-[repeat(auto-fill,minmax(200px,_1fr))] gap-4'
    >
        {allDiaries.map((diary) => <DiaryCard diary={diary} />)}
    </section>
</Layout>
