---
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import Heading1 from "@/components/atoms/Heading1.astro";
import { COLORS } from "@/constants/color";
import { NOTE_DESCRIPTION, SITE_NAME } from "@/constants/index";
import Layout from "@/layouts/Layout.astro";
import { getNotes } from "@/utils/note";
import type { GetStaticPaths } from "astro";

const pageName = "notes";
const capitalizePageName = pageName.charAt(0).toUpperCase() + pageName.slice(1);
const title = capitalizePageName;
const description = NOTE_DESCRIPTION;
const baseColor = COLORS.SKY;

export const getStaticPaths = (async ({ paginate }) => {
	const colors = [...Object.values(COLORS)];

	return paginate(
		await getNotes().then((notes) =>
			notes
				.map((note, i) => {
					return {
						...note,
						baseColor: colors[i % colors.length] as (typeof colors)[number],
					};
				})
				.reverse(),
		),
		{ pageSize: 10 },
	);
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout
  activeName="notes"
  title={`${title}/${page.currentPage} - ${SITE_NAME}`}
  description={description}
  baseColor={baseColor}
>
  <section>
    <Heading1 baseColor={baseColor} text="Notes" id="Notes" />
  </section>
  <section id="Articles" class="h-full">
    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,_1fr))] gap-4">
      {
        page.data.map((note) => (
          <Card
            text="Note"
            link={{
              href: `/notes/${note.slug}/`,
              target: "_self",
            }}
            title={note.data.title}
            baseColor={note.baseColor}
          />
        ))
      }
    </div>
  </section>
  <section>
    <Pagination
      next={{
        url: page.url.next,
        baseColor
      }}
      prev={{
        url: page.url.prev,
        baseColor
      }}
    />
  </section>
</Layout>
