---
import Card from "@/components/Card.astro";
import Heading2 from "@/components/atoms/Heading2.astro";
import Link from "@/components/atoms/Link.astro";
import Tag from "@/components/atoms/Tag.astro";
import { COLORS } from "@/constants/color";
import { SITE_NAME } from "@/constants/index";
import Layout from "@/layouts/Layout.astro";
import { getDiary } from "@/utils/diary";
import { getNote } from "@/utils/note";
import { getProject } from "@/utils/projects";
import { formatPostDate } from "../utils";

const baseColor = COLORS.GREEN;

const diary = await getDiary(new Date());
const note = await getNote("2024-review");
const project = await getProject("astro-page-insight");
---

<Layout
    activeName='ktym4a'
    title={SITE_NAME}
    description="ktym4a's website"
    baseColor={baseColor}
>
    <section id='SiteName'>
        <Tag text='SiteName'>
            <h1
                class='mb-2 break-words text-4xl font-bold md:text-6xl lg:text-8xl'
            >
                <span class='text-ctp-green'>kt</span><span
                    class='text-ctp-pink'>ym</span
                ><span class='text-ctp-blue'>4</span><span
                    class='text-ctp-peach'>a</span
                >
            </h1>
        </Tag>
    </section>
    <section id='Quote'>
        <Tag text='Quote' className='gap-2'>
            <blockquote class='inline-flex flex-col'>
                <div
                    class='h-4 text-left text-2xl font-extrabold text-ctp-green md:text-4xl lg:h-6 lg:text-5xl'
                >
                    “
                </div>
                <p
                    class='text-pretty px-2 font-mono-script text-2xl font-bold italic leading-tight tracking-tight text-ctp-text md:px-8 md:text-3xl lg:leading-normal'
                >
                    <span class='text-xl text-ctp-green md:text-3xl lg:text-4xl'
                        >Do</span
                    >
                    <span class='text-ctp-blue'>what</span>
                    <span class='text-ctp-peach'>you</span>
                    <span class='text-xl text-ctp-pink md:text-3xl lg:text-4xl'
                        >love</span
                    >,<br /><span
                        class='text-xl text-ctp-pink md:text-3xl lg:text-4xl'
                        >Love</span
                    >
                    <span class='text-ctp-blue'>what</span>
                    <span class='text-ctp-peach'>you</span>
                    <span class='text-xl text-ctp-green md:text-3xl lg:text-4xl'
                        >do</span
                    >.
                </p>
                <div
                    class='h-4 text-right text-2xl font-extrabold text-ctp-green md:text-4xl lg:h-6 lg:text-5xl'
                >
                    ”
                </div>
            </blockquote>
        </Tag>
    </section>
    <section id='Recent'>
        <Tag text='Recent' className='gap-2'>
            <div class="flex flex-col gap-4">
                <Heading2
                    baseColor={COLORS.GREEN}
                    text='Recent Contents'
                    id='RecentTitle'
                />
                <div class="grid md:grid-cols-2 gap-4 md:gap-6">
                    {diary && (
                        <Card
                            text="Diary"
                            link={{
                                href: `/diaries/${diary.slug}/`,
                                target: "_self",
                            }}
                            title={`${formatPostDate(diary.data.publishedDate)}の学び`}
                            baseColor={COLORS.MAUVE}
                        />
                    )}
                    {note && (
                        <Card
                            text="Note"
                            link={{
                                href: `/notes/${note.slug}/`,
                                target: "_self",
                            }}
                            title={note.data.title}
                            baseColor={COLORS.SKY}
                        />
                    )}
                    {project && (
                        <Card
                            text="Project"
                            link={{
                                href: project.data.link,
                                target: "_blank",
                            }}
                            title="Astro Page Insight"
                            baseColor={COLORS.PEACH}
                        />
                    )}
                </div>
            </div>
        </Tag>
    </section>
    <p class='ml-auto mt-4 text-pretty text-left text-xs'>
        Designed and Coded by yours truly. Color palette used <Link
            href='https://github.com/catppuccin/catppuccin'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Catppuccin'
        >
            {'Catppuccin'}
        </Link>. Built with <Link
            href='https://astro.build/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Astro'
        >
            {'Astro'}
        </Link> and <Link
            href='https://tailwindcss.com/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Tailwind CSS'
        >
            {'Tailwind CSS'}
        </Link>, Deployed with <Link
            href='https://pages.cloudflare.com/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Cloudflare Pages'
        >
            {'Cloudflare Pages'}
        </Link>, and Use <Link
            href='https://www.monolisa.dev/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='MonoLisa'
        >
            {'MonoLisa'}
        </Link> for all text.
    </p>
</Layout>
