---
import Nav from '@/components/Nav.astro'
import SNSLinks from '@/components/SNSLinks.astro'
import Tag from '@/components/atoms/Tag.astro'
import type { MarkdownHeading } from 'astro'

interface Props {
    currentPath: string
    tagText: string
    toc?:
        | {
              headings: MarkdownHeading[] | undefined
              tagName: string
          }
        | undefined
}

const { currentPath, tagText, toc = undefined } = Astro.props
---

<Tag text={tagText} className='h-full gap-2'>
    <div class='flex h-full flex-col justify-between gap-4 md:gap-6'>
        <div class='space-y-4'>
            <Nav currentPath={currentPath} />
            {
                toc?.headings && (
                    <Tag text={toc.tagName} className='gap-2'>
                        <ul class='list-outside list-disc space-y-1 text-pretty pl-6'>
                            {toc.headings.map((link) => (
                                <li class='relative'>
                                    <a href={`#${link.slug}`}>{link.text}</a>
                                </li>
                            ))}
                        </ul>
                    </Tag>
                )
            }
        </div>
        <div class='space-y-4'>
            <SNSLinks />
        </div>
    </div>
</Tag>
