---
import NavLink from '@/components/atoms/NavLink.astro'
import NavLinkIcon from '@/components/atoms/NavLinkIcon.astro'
import NavLinkWIP from '@/components/atoms/NavLinkWIP.astro'
import type { ColorType } from '@/types/index'

interface Props {
    colors: ColorType
    current: boolean
    href: string
    id?: string
    title: string
    type?: 'file' | 'folder' | undefined
    wip?: boolean
}

const {
    colors,
    current,
    href,
    id,
    title,
    type = undefined,
    wip = false
} = Astro.props
---

<li class={`relative group ${current ? 'current' : ''}`} id={id}>
    {
        wip ? (
            <NavLinkWIP title={title}>
                <NavLinkIcon type={type} />
                <span class='flex-1'>{title}</span>
            </NavLinkWIP>
        ) : (
            <NavLink href={href} colors={colors} title={title}>
                <NavLinkIcon type={type} />
                <span class='flex-1'>{title}</span>
            </NavLink>
        )
    }
</li>
