---
import Head from '@/components/Head.astro'
import Main from '@/components/organisms/Main.astro'
import SideBar from '@/components/organisms/SideBar.astro'
import { type ColorType } from '@/types/index'

interface Props {
    title: string
    description: string
    baseColor: ColorType
}

const { title, description, baseColor } = Astro.props
const routes = Astro.url.pathname.split('/').filter((path) => path)
const currentPath = title === '404 - ktym4a' ? '404' : routes.at(-1) ?? 'ktym4a'
---

<!doctype html>
<html
    lang='en'
    class='ctp-mocha min-h-dvh overflow-hidden scroll-smooth bg-ctp-surface0 font-mono'
>
    <head>
        <Head title={title} description={description} />
    </head>
    <body
        class={`relative min-h-dvh from-ctp-surface0 text-ctp-text from-40% to-100% bg-gradient-to-br text-sm md:text-base ${baseColor.backgroundGradient}`}
    >
        <div
            class='m-auto grid min-h-dvh max-w-7xl grid-cols-[2.75rem_1fr] md:grid-cols-[16rem_1fr] lg:grid-cols-[24rem_1fr] lg:px-2'
        >
            <SideBar
                baseColor={baseColor}
                currentPath={currentPath}
                routes={routes}
            />
            <Main
                baseColor={baseColor}
                currentPath={currentPath}
                routes={routes}
            >
                <slot />
            </Main>
        </div>
    </body></html
>
