---
import Tag from '@/components/atoms/Tag.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import { MAIN_SLIDE_ANIMATION, type ColorType } from '@/types/index'

interface Props {
    baseColor: ColorType
    currentPath: string
    routes: string[]
}

const { baseColor, currentPath, routes } = Astro.props
---

<div
    class='overflow-hidden md:ml-0 md:w-full lg:pr-10'
    transition:animate={MAIN_SLIDE_ANIMATION}
>
    <div
        id='main'
        class={`grid max-h-dvh min-h-dvh auto-cols-full grid-rows-[auto_1fr] gap-4 scroll-smooth overflow-y-auto overflow-x-hidden
                    px-4 py-6 md:px-6 lg:grid-rows-[1fr] [&::-webkit-scrollbar]:w-[6px] [&::-webkit-scrollbar]:h-[4px] [&::-webkit-scrollbar-thumb]:rounded-md ${baseColor.scrollColor}`}
    >
        <div class='block lg:hidden'>
            <Tag text='Breadcrumbs' className='gap-1 overflow-x-auto md:gap-0'>
                <Breadcrumbs
                    baseColor={baseColor}
                    currentPath={currentPath}
                    position='main'
                    routes={routes}
                />
            </Tag>
        </div>
        <main class='grid w-full'>
            <Tag text='Main' className='gap-2'>
                <div class='space-y-4 md:space-y-6'>
                    <slot />
                </div>
            </Tag>
        </main>
    </div>
</div>
